<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Success!</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>

    <h2>Thank you {{username}}. You have Successfully logged in.</h2>

    </div>
  </body>
</html>
